<!--Chart-->
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-2 py-2">
        <div class="card">
            <div class="card-header">
                Temperatures
            </div>
            <div class="card-body h-100">
                <canvas id="TemperatureChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 col-lg-2 py-2">
        <div class="card">
            <div class="card-header">
                Energy-Power
            </div>
            <div class="card-body h-100">
                <canvas id="EnergyChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>

<!--Chart-->