 <!--off canvas-->
 <div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
          <ul class="navbar-nav">
              <li>
                  <div class="text-muted small fw-bold text-uppercase px-3">
                      CORE
                  </div>
              </li>
              <li>
                  <a href="#" class="nav-link px-3 active">
                      <span class="me-2">
                          <i class="bi bi-speedometer2"style="font-size: 24px;"></i>
                      </span>
                      <span>Dashboard</span>
                  </a>
              </li>
              <li class="my-2">
                  <hr>
              </li>
              <li>
                  <div class="text-muted small fw-bold text-uppercase px-3">
                      Interface
                  </div>
              </li>
              <li>
                  <a class="nav-link px-3 sidebar-link" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                      <span class="ml-2">Chart</span>
                  </a>
              </li>
              <li>
                  <a class=" nav-link px-3 sidebar-link bg-secondary mx-2 rounded" href="http://simp.ly/p/cCkN6n">
                      <span class="me-2"><i class="bi bi-book style="font-size: 24px;"></i></span>
                      <span class="ml-2">Read tutorial</span>
                  </a>
              </li>
              <li>
                <a class="nav-link hide px-3 sidebar-link " aria-current="page" href="/logout">Logout</a>
              </li>
          </ul>
      </nav>
  </div>
</div>
<!--off canvas-->
