<!--off canvas-->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white"  data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
                <div class="text-muted px-3 mx-2 small fw-bold text-uppercase my-2 ">
                    Contents
                </div>
            </li>
            <li>
                <a class=" nav-link px-3 sidebar-link mx-2 rounded " href="/about">
                    <span class="ml-2">Introduction</span>
                </a>
            </li>
            <li>
                <a class=" nav-link px-3 sidebar-link mx-2 rounded " href="/about">
                    <span class="ml-2">Prerequisites</span>
                </a>
            </li>
            <li>
              <div class="text-muted px-3 mx-2 small fw-bold text-uppercase my-2 ">
                  Application-Part
              </div>
            </li>
            <li>
                <a class=" nav-link px-3 sidebar-link mx-2 rounded " href="/about">
                    <span class="ml-2">Installing packages</span>
                </a>
            </li>
            <li>
                <a class=" nav-link px-3 sidebar-link mx-2 rounded " href="/about">
                    <span class="ml-2">Adding Routes</span>
                </a>
            </li>
            <li>
                <a class=" nav-link px-3 sidebar-link mx-2 rounded " href="/about">
                  <span class="ml-2">Creating templates</span>
                </a>
            </li>
            <li>
              <div class="text-muted px-3 mx-2 small fw-bold text-uppercase my-2">
                  Driver-Part
              </div>
            </li>
            <li>
              <a class=" nav-link px-3 sidebar-link mx-2 rounded" href="/about">
                  <span class="ml-2">PMD100</span>
              </a>
            </li>
            <li>
              <a class=" nav-link px-3 sidebar-link mx-2 rounded" href="/about">
                <span class="ml-2">Webcam and openCV</span>
              </a>
            </li>
            <li>
              <a class=" nav-link px-3 sidebar-link mx-2 rounded" href="/about">
                <span class="ml-2">Thorlabs Cam</span>
              </a>
            </li>
            <li>
              <a class=" nav-link px-3 sidebar-link mx-2 rounded" href="/about">
                <span class="ml-2">Temperature sensor</span>
              </a>
            </li>
          </ul>
      </nav>
  </div>
</div>
<!--off canvas-->
<style>

.offcanvas .offcanvas-body .navbar-dark ul{
    margin-top: 16px;
}
@media (min-width:2000px) {
  .offcanvas .offcanvas-body .navbar-dark ul{
    margin-top: 50px;

  }
}
</style>