<!--Real Time update-->
<div class="row">
    <div class="col-md-3 col-lg-3 py-2">
        <div class="card border-primary mb-3 h-100">
            <div class="card-header border-primary">Temperature 1</div>
            <div class="card-body">
                <div class="override-body">
                    <span class="me-2"><i class="bi bi-thermometer-half" style="font-size: 50px;"></i></span>
                    <p class="card-text mx-auto my-auto">
                        <span id="temperature1">?</span>°C
                    </p>
                </div>
            </div>
            <div class="card-footer border-primary"> 
                Last update
                <span id="date1">?</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 py-2">
        <div class="card border-primary mb-3 h-100">
            <div class="card-header border-primary">Temperature 2</div>
            <div class="card-body">
                <div class="override-body">
                    <span class="me-2"><i class="bi bi-thermometer-half" style="font-size: 50px;"></i></span>
                    <p class="card-text mx-auto my-auto">
                        <span id="temperature2">?</span>°C
                    </p>
                </div>
            </div>
            <div class="card-footer border-primary"> 
                Last update
                <span id="date2">?</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 py-2">
        <div class="card border-warning mb-3 h-100">
            <div class="card-header border-warning">Energy</div>
            <div class="card-body border-warning">
                <div class="override-body">
                    <span class="me-2 mt-2"><img src="{{url_for('static',filename='/img/jauge.png')}}" width="50px" alt="gauge-meter"></i></span>
                    <p class="card-text mx-auto my-auto"> 
                        <span id="energy">?</span> uW
                    </p>
                </div>
            </div>
            <div class="card-footer border-primary"> 
                Last update
                <span id="date3">?</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 py-2">
        <div class="card border-dark mb-3 h-100">
            <div class="card-header border-dark">Power</div>
            <div class="card-body border-dark">
                <div class="override-body">
                    <span class="me-2 mt-2">
                        <img src="{{url_for('static',filename='img/jauge.png')}}" width="50px" alt="gauge-meter">
                    </span>
                    <p class="card-text mx-auto my-auto">
                        <span id="power">?</span> uW
                    </p>
                </div>
            </div>
            <div class="card-footer border-primary"> 
                Last update
                <span id="date4">?</span>
            </div>
        </div>
    </div>
</div>
<!--Real Time update-->
<script>
    document.getElementById("temperature1").innerHTML;
    document.getElementById("temperature2").innerHTML;
    document.getElementById("energy").innerHTML;
    document.getElementById("power").innerHTML;
    document.getElementById("date1").innerHTML;
    document.getElementById("date2").innerHTML;
    document.getElementById("date3").innerHTML;
    document.getElementById("date4").innerHTML;

</script>