     <!--Video-->
     <div class="row">
        <div class="col-md-4 col-lg-4 py-2">
            <div class="card mb-3 h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-webcam"></i></span>Camera 1
                </div>
                  <img src="{{url_for('main.video_feed_0')}}" alt="video_feed" >
            </div>
        </div>

        <div class="col-md-4 col-lg-4 py-2">
            <div class="card mb-3 h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-webcam"></i></span>Camera 2
                </div>
                  <img src="{{url_for('main.video_feed_1')}}" alt="tree" >
            </div>
        </div>

        <div class="col-md-4 col-lg-4 py-2">
            <div class="card mb-3 h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-webcam"></i></span>Camera 3
                </div>
                  <img src="{{url_for('static',filename='/img/tree.jpg')}}" alt="tree" >
            </div>
        </div>
        <div class="col-md-4 col-lg-4 py-2">
            <div class="card mb-3 h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-webcam"></i></span>Camera 4
                </div>
                  <img src="{{url_for('static',filename='/img/tree.jpg')}}" alt="tree" >
            </div>
        </div>
        
        <div class="col-md-4 col-lg-4 py-2">
            <div class="card mb-3 h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-webcam"></i></span>Camera 5
                </div>
                  <img src="{{url_for('static',filename='/img/tree.jpg')}}"alt="tree" >
            </div>
        </div>
        
        <div class="col-md-4 col-lg-4 py-2">
            <div class="card mb-3 h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-webcam"></i></span>Camera 6
                </div>
                  <img src="{{url_for('static',filename='/img/tree.jpg')}}"alt="tree" >
            </div>
        </div>
        
        
    </div>
    <!--Video-->