<!--off canvas-->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
          <ul class="navbar-nav mt-2">
              <li>
                <li>
                    <a class=" nav-link px-3 sidebar-link mx-2 rounded" href="/about">
                        <span class="me-2"><i class="bi bi-book"></i></span>
                        <span class="ml-2">About</span>
                    </a>
                </li>
              </li>
              <li>
                <a class="nav-link px-3 sidebar-link mx-2 rounded" href="/login">
                    <span class="me-2">
                        <i class="bi bi-person"></i>
                    </span>
                    <span class="ml-2">Login</span>
                </a>
             </li>
             <li>
                <a class=" nav-link px-3 sidebar-link bg-secondary mx-2 rounded" href="https://themesberg.com/blog/bootstrap/simple-bootstrap-5-dashboard-tutorial">
                    <span class="me-2"><i class="bi bi-book"></i></span>
                    <span class="ml-2">Read tutorial</span>
                </a>
            </li>
          </ul>
      </nav>
  </div>
</div>
<!--off canvas-->
