{% extends "public/public_template.html" %}

{% block content %}
<section class="wrapper">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <div class="logo py-md-5 py-3">
            <img src="{{url_for('static',filename='/img/voxel.png')}}" class="img-fluid" width="100px" alt="logo">
            </div>
            <form class="rounded bg-white shadow py-sm-5 px-sm-5 p-4 "action="" method="post">
                <div class="text-dark fw-bolder fs-5 mb-3">Sign up to Voxel</div>
                
                <div class="form-floating mb-3 text-start ">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" value="{{
                        request.form.username }}">
                    <label for="floatingInput">Username</label>
                </div>

                <div class="form-floating mb-3 text-start ">
                    <input type="email" class="form-control" id="floatingInput" placeholder="email" name="email" value="{{
                        request.form.email}}">
                    <label for="floatingInput">name@example.com</label>
                </div>

                <div class="form-floating text-start">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" value="{{
                        request.form.password }}">
                    <label for="floating Password">Password</label>
                </div>

                <button type="submit" class="btn submit w-100 my-3" style="background-color: rgba(35, 232, 219, 1);">Sign up</button>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
            </form>
        </div>
    </div>
</section>

<style>
    body{
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(19, 149, 161), rgb(6, 120, 152));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(19, 149, 161), rgb(6, 120, 152));
}

.form-login{
    background-color: rgba(214, 238, 237, 0.995) ;
    border-radius: 10px;
}
</style>
{% endblock %}